.button:hover {
    -fx-text-fill: white;
}

.label:hover {
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Century Gothic" ;
}

.label-bold {
    -fx-font-family: "Century Gothic Bold";
}