.label {
    -fx-font-family: "Century Gothic" ;
    -fx-background-insets: 0;
}

.label-bold {
    -fx-font-family: "Century Gothic Bold";
    -fx-background-insets: 0;
}

.date-picker .text-field {
    -fx-alignment: center;         /* Centra il testo */
    -fx-font-family: "Century Gothic";      /* Font desiderato */
    -fx-font-size: 28px;           /* Dimensione del font */
}